.Header {
  display: flex;
  align-items: center;
  height: 104px;
  border-bottom: 2px solid var(--color-notion-default);
}

.Nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.Link {
  font-size:  18px;
  font-weight: 400;
  padding: 12px;
  color: var(--color-notion-default)
}

.Link:hover {
  font-weight: 700;
}

.Link:last-of-type {
  margin-left: auto;
}

.Title {
  font-size: 48px;
  padding: 16px;
  font-weight: 700;
  margin-right: 50px;
}

